[Unit]
Description=Consul
Documentation=https://consul.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
KillMode=process
KillSignal=SIGINT
ExecStart=/usr/local/bin/consul agent -config-file=/ops/config/consul.hcl
ExecReload=/usr/local/bin/consul reload
Restart=on-failure
RestartSec=2
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target
